body{
	background-color: #fba6ff;
	margin:0 auto;
	max-width: 100%;
	max-height: 100%;
}
#img1{
	max-height: 60px;
	border-radius: 50%;
	border: solid 4px black;
} 
.navb{
	background-color: #fba6ff;
	padding: 1vh;
	display: block;
	margin-left: auto;
  	margin-right: auto;
}

.abc{
	padding-left: 1vh;
	font-size: 40px;
	color: black;

}

#cent{
	object-fit: cover;
}
#im1{
	background-color: #fba6ff;
}
#im2{
	background-color: #ff5b4c;
}
#im3{
	background-color: white;
}
#img2{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	border: solid 30px black;
}

#img3{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	border: solid 30px black;
}

#img4{
	display: block;
  	margin-left: auto;
  	margin-right: auto;
	border: solid 30px #ff5b4c;
}